.project {
    text-align: center;
    float: left;
    height: 15em;
    overflow-y: auto;
    padding: 1%;
    padding-bottom: 2%;
    width: 20%;
}

@media (max-width: 967px) {
    .project {
        width: 25%;
    }
}

@media (max-width: 698px) {
    .project {
        width: 33.33%;
    }
}

@media (max-width: 500px) {
    .project {
        display: block;
        float: none;
        width: 100%;
    }
}