@use "../common";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: 1rem "Roboto", sans-serif;
    font-display: swap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);

    .Layout {
        display: flex;
        flex-direction: column;
        min-height: 100vh;

        main {
            flex: 1;
        }
    }

    &.light-mode {
        --bg-color: white;
        --header-bg-color: rgba(255, 255, 255, 0.7);
        --text-color: black;
        --border-color: black;
        --button-bg-color: lightgray;
        --button-fg-color: black;
        --hamburger-color: black;
        --link-color: black;
        --svg-color: black;
    }

    &.dark-mode {
        --bg-color: black;
        --header-bg-color: rgba(0, 0, 0, 0.5);
        --text-color: white;
        --border-color: white;
        --button-bg-color: white;
        --button-fg-color: black;
        --hamburger-color: white;
        --link-color: white;
        --svg-color: white;
    }
}

.title {
    @include common.padding-x;
    @media (min-width: 768px) {
        margin-top: 3rem;
        text-align: center;
    }

    font-size: 3.25rem;
    margin-bottom: 1.5rem;
}

.loading {
    height: 100vh;
    overflow: hidden;

    &::before {
        @keyframes spin {
            from {
                transform: translate(-50%, -50%) rotateZ(0deg);
            }
            to {
                transform: translate(-50%, -50%) rotateZ(360deg);
            }
        }
        animation: 1.5s linear infinite spin;
        border: 5px solid var(--text-color);
        border-bottom-color: var(--bg-color);
        border-radius: 50%;
        content: "";
        height: 4rem;
        left: 50%;
        position: fixed;
        top: 50%;
        visibility: visible;
        width: 4rem;
    }

    main {
        visibility: hidden;
    }
}
