@use "../Hamburger/index";
@use "../common";

$header-bg-color: var(--header-bg-color);
$nav-bg-color: var(--bg-color);
$nav-link-font-size-sm: 15vw;
$nav-link-font-size-md: 1.5rem;
$nav-link-padding: 1rem;
$header-height: 5rem;

header {
    @include common.padding-x;
    @media (min-width: 768px) {
        background: $nav-bg-color;
        border-bottom: 1px solid var(--border-color);
    }
    align-items: center;
    background: $header-bg-color;
    display: flex;
    height: $header-height;
    left: 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;

    nav {
        @include common.padding-x;
        @media (min-width: 768px) {
            --nav-link-font-size: #{$nav-link-font-size-md};
            align-items: center;
            background: none;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-left: -$nav-link-padding;
            margin-right: -$nav-link-padding;
            opacity: 1;
            padding: 0;
            position: static;
        }

        --nav-link-font-size: #{$nav-link-font-size-sm};
        background: $nav-bg-color;
        bottom: 0;
        display: none;
        flex: 1;
        flex-direction: column;
        height: 100%;
        left: 0;
        opacity: 0;
        padding-top: $header-height;
        padding-left: 0;
        padding-right: 0;
        position: fixed;
        right: 0;
        top: 0;
        transition: opacity index.$transition-length ease-in-out;
        z-index: 100;

        a {
            @include common.hover-transition;
            @media (min-width: 768px) {
                margin-bottom: 0;
            }

            color: var(--link-color);
            display: block;
            font-size: var(--nav-link-font-size);
            padding: $nav-link-padding;
            text-decoration: none;

            &.active {
                text-decoration: underline;
            }
        }
    }

    #Hamburger__checkbox:checked ~ nav {
        display: flex;
        opacity: 1;
    }
}
