$pd-x-sm: 8px;
$pd-x-md: 10vw;
$pd-x-lg: 15vw;

:root {
    --padding-x: #{$pd-x-sm};
}

@mixin padding-x {
    padding-left: var(--padding-x);
    padding-right: var(--padding-x);

    @media (min-width: 768px) {
        --padding-x: #{$pd-x-md};
    }

    @media (min-width: 1024px) {
        --padding-x: #{$pd-x-lg};
    }
}

@mixin hover-transition {
    transition: opacity 0.3s ease-in-out;

    &:hover {
        opacity: 0.3;
    }
}
