form {
    label,
    input,
    textarea {
        font-size: 1.2rem;
    }

    input,
    textarea {
        margin-bottom: 0.5rem;
        padding: 0.25rem;
        width: 100%;
    }

    .Button {
        margin: 0 auto;
    }
}
