@use "./common";

$footer-height-sm: 70vh;
$footer-height-md: 8vh;

footer {
    @include common.padding-x;
    @media (min-width: 768px) {
        flex-direction: row;
        height: $footer-height-md;
    }

    align-items: center;
    border-top: 2px solid black;
    display: flex;
    flex-direction: column;
    height: $footer-height-sm;
    justify-content: space-evenly;

    a {
        @include common.hover-transition;
        color: black;
        font-size: 2rem;
        padding: 0.5rem;
        text-align: center;
        text-decoration: none;
    }
}
