@use "./hamburger";
@use "./common";

$header-bg-color: white;
$nav-link-font-size-sm: 15vw;
$nav-link-font-size-md: 1.5rem;
$header-height: 5rem;

header {
    @include common.padding-x;
    @media (min-width: 768px) {
        border-bottom: 1px solid black;
    }

    align-items: center;
    display: flex;
    height: $header-height;
    left: 0;
    position: sticky;
    top: 0;
    width: 100%;

    nav {
        @include common.padding-x;
        @media (min-width: 768px) {
            --nav-link-font-size: #{$nav-link-font-size-md};
            align-items: center;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            opacity: 1;
            padding: 0;
            position: static;
        }

        --nav-link-font-size: #{$nav-link-font-size-sm};
        background: $header-bg-color;
        bottom: 0;
        display: none;
        flex: 1;
        flex-direction: column;
        height: 100%;
        left: 0;
        padding-top: $header-height;
        position: fixed;
        opacity: 0;
        right: 0;
        top: 0;
        transition: opacity hamburger.$transition-length ease-in-out;
        z-index: 10;

        a {
            @include common.hover-transition;
            @media (min-width: 768px) {
                margin-bottom: 0;
            }

            color: black;
            display: block;
            font-size: var(--nav-link-font-size);
            margin-bottom: 2rem;
            padding: 1rem;
            text-decoration: none;

            &.active {
                text-decoration: underline;
            }
        }
    }

    #Hamburger__checkbox:checked ~ nav {
        display: flex;
        opacity: 1;
    }
}
