@use "./common";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: 1rem "Roboto", sans-serif;
    font-display: swap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

.title {
    @include common.padding-x;
    font-size: 3.25rem;
    margin-bottom: 1.5rem;

    @media (min-width: 768px) {
        margin-top: 3rem;
        text-align: center;
    }
}
