@use "sass:math";
@use "./common";

$svg-size-sm: 15vw;
$svg-size-md: 4rem;
$svg-color: black;

.Socials {
    padding-top: 1rem;

    svg {
        @include common.hover-transition;
        --svg-size: #{$svg-size-sm};
        color: $svg-color;
        height: var(--svg-size);
        transition: all 0.5s ease-in-out;
        width: var(--svg-size);

        @media (min-width: 768px) {
            --svg-size: #{$svg-size-md};
        }
    }

    // For screenreaders
    .visible-hidden {
        clip: rect(1px, 1px, 1px, 1px);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;

        &:focus {
            clip: auto;
            height: auto;
            overflow: auto;
            position: absolute;
            width: auto;
        }
    }
}
