@use "./hamburger.scss";
@use "./common.scss";

$size: hamburger.$hamburger-size;
$padding: hamburger.$hamburger-padding;

.ThemeToggle {
    @media (min-width: 768px) {
        // Moving the header into its original position without ThemeToggle and moving ThemeToggle to right side of header
        left: calc(100vw - var(--padding-x) - #{$size});
        transform: translateX(-50%);
        margin-right: -1 * $size;
        position: relative;
    }

    #theme-toggle {
        display: none;
    }

    [for="theme-toggle"] {
        @include common.hover-transition;
        cursor: pointer;
        display: block;
        height: $size;
        padding: $padding;
        width: $size;

        svg {
            height: 100%;
            width: 100%;
        }
    }
}
