@use "../Hamburger/index";
@use "../common";

$size: index.$hamburger-size;
$padding: index.$hamburger-padding;

.ThemeToggle {
    @include common.hover-transition;
    background: none;
    border: none;
    cursor: pointer;
    display: block;
    height: $size;
    padding: $padding;
    width: $size;
    z-index: 1000;

    @media (min-width: 768px) {
        // Moves theme toggle to left of screen
        left: 0;
        transform: translateX(50%);
        position: absolute;
    }

    svg {
        color: var(--svg-color);
        height: 100%;
        width: 100%;
    }
}
