div#container {
    display: flex;
    justify-content: space-between;
}

div#contact-form {
    flex: 5;
}

div#socials {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-evenly;
}