div#socials {
    display: flex;
    flex: 1;
    justify-content: center;
}

img.svg {
    height: 3rem;
    margin: 1rem;
    width: 3rem;
}

form, 
input.text, 
textarea {
    font-size: 1.4rem;
}

form {
    font-family: 'Roboto Mono', monospace;
    margin: 0 auto;
    width: 50%;
}

input, 
textarea {
    width: 100%;
}

input {
    line-height: 1.5rem;
}

input.radio, 
label.radio {
    cursor: pointer;
    width: auto;
}

input.text, 
textarea {
    padding: 0.1rem 0;
}

textarea {
    display: block;
    height: 10rem;
    overflow: auto;
    resize: vertical;
}

button {
    background-color: black;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    padding: 0.3rem;
}

@media (max-width: 768px) {
    form {
        width: 75%;
    }
}