section#projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.project {
    border: 0.1rem solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    overflow-y: auto;
    padding: 1%;
    margin: 1%;
    padding-bottom: 2%;
}

.project__title,
.project__image,
.project__description {
    margin-bottom: 1rem;
}

.project__title {
    font-size: 1.5rem;
}

.project__image {
    height: 14rem;
}

.project__description {
    text-align: left;
}

.project__link {
    background-color: black;
    color: white;
    font-size: 1.2rem;
    margin: 0 auto;
    padding: 0.5rem 0;
    width: 50%;
}

/* Media Queries */
@media (min-width: 1440px) {
    .project__image {
        height: 18rem;
    }
}

@media (max-width: 768px) {
    section#projects {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 376px) {
    section#projects {
        grid-template-columns: 1fr;
    }
}