* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    margin: 0 10%;
}

.button {
    background-color: black;
    border-radius: 3rem;
    color: white;
    cursor: pointer;
    display: block;
    font-size: 1.2rem;
    margin: 0 auto;
    padding: 0.5rem 0;
}

.button:hover {
    background-color: #666666;
    text-decoration: underline;
    transition: background-color 0.2s ease-in;
}

h1, h2, p, a {
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}

h1 {
    font-size: 3rem;
    padding: 0.5rem 0;
}

h2 {
    font-size: 2rem;
    padding: 0.3rem 0;
}

p {
    font-size: 1.3rem;
}

header, footer {
    align-items: center;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1% 5%;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

header {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#header__logo {
    font-size: 3rem;
}

label.header__hamburger,
input#menu-toggle {
    display: none;
}

input#menu-toggle:checked ~ nav#header__menu {
    display: block;
}

#header__hamburger {
    display: none;
}

#header__hamburger span {
    background-color: white;
    border-radius: 1rem;
    display: block;
    height: 0.3rem;
    margin-bottom: 0.5rem;
    width: 2.3rem;
}

#header__hamburger span:last-child {
    margin-bottom: 0;
}

header nav li {
    font-size: 2rem;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav li {
    list-style-type: none;
    padding-left: 2rem;
    white-space: nowrap;
}

nav a, 
header a:-webkit-any-link, 
footer a:-webkit-any-link { /* The links in the header and footer */
    color: white;
    text-decoration-line: none;
}

nav a:hover, 
header a:-webkit-any-link:hover, 
footer a:-webkit-any-link:hover {
    text-decoration: underline;
}

footer {
    font-size: 1.2rem;
}

/* Media Queries */

@media (max-width: 1024px) {
    #header__logo {
        font-size: 2.2rem;
    }

    #header__menu li {
        font-size: 1.5rem;
    }

    footer address {
        font-size: 1rem;
    }
}

@media (max-width: 769px) {
    h1 {
        font-size: 2rem;
    }

    header, 
    footer {
        text-align: center;
    }
    
    header {
        position: relative;
    }

    #header__logo {
        flex: 7;
        font-size: 2.5rem;
        /* text-align: left; */
    }

    #header__hamburger {
        display: block;
        position: absolute;
        top: 1rem;
        right: 3%;
    }

    header nav#header__menu {
        display: none;
        flex: 100%;
    }

    header nav ul {
        margin-top: 1.5rem;
    }

    nav ul li, 
    footer address {
        margin-bottom: 1.5rem;
    }

    nav ul {
        display: block;
    }

    nav ul li {
        padding: 0;

    }

    footer {
        display: block;
        font-size: 1.5rem;
    }
    
    footer address {
        font-size: 1.2rem;
    }
}

@media (max-width: 425px) {
    #header__logo {
        font-size: 3.3rem;
    }

    #header__hamburger {
        top: 3.7rem;
    }
}