* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    min-height: 100%;
}

body {
    min-height: 100%;
}

main {
    margin: 0 10%;
}

h1, h2, p, a {
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}

h1 {
    font-size: 3rem;
    padding: 0.5rem 0;
}

h2 {
    font-size: 2rem;
    padding: 0.3rem 0;
}

p {
    font-size: 1.3rem;
    line-height: 1.3rem;
}

.open {
    display: block;
}

header, footer {
    align-items: center;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1% 5%;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header__logo {
    font-size: 3rem;
}

#header__hamburger {
    display: none;
    margin-top: 0.6rem;
    padding: 0.1rem;
}

#header__hamburger span {
    background-color: white;
    border-radius: 1rem;
    display: block;
    height: 0.3rem;
    margin-bottom: 0.5rem;
    width: 2.3rem;
}

#header__hamburger span:nth-last-child() {
    margin-bottom: 0;
}

header nav li {
    font-size: 2rem;
    height: 2rem;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav li {
    list-style-type: none;
    padding-left: 2rem;
    white-space: nowrap;
}

nav a, header a:-webkit-any-link, footer a:-webkit-any-link { /* The links in the header and footer */
    color: white;
    text-decoration-line: none;
}

footer {
    font-size: 1.2rem;
}

/* Media Queries */
@media (max-width: 769px) {
    header, footer {
        display: block;
        text-align: center;
    }

    /* #header__hamburger {  
        display: block;
    }

    header nav {
        display: none;
    } */

    header nav ul {
        margin-top: 1.5rem;
    }

    nav ul li, footer address {
        margin-bottom: 1.5rem;
    }

    nav ul {
        display: block;
    }

    nav ul li {
        padding: 0;
    }

    footer {
        font-size: 1.5rem;
    }
}
