* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    margin: 0 10%;
    flex: 1;
}

.button {
    background-color: black;
    border-radius: 3rem;
    color: white;
    cursor: pointer;
    display: block;
    font-size: 1.2rem;
    margin: 0 auto;
    padding: 0.5rem 0;
}

.button:hover {
    background-color: #666666;
    text-decoration: underline;
    transition: background-color 0.2s ease-in;
}

h1, h2, p, a {
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}

h1 {
    font-size: 3rem;
    padding: 0.5rem 0;
}

h2 {
    font-size: 2rem;
    padding: 0.3rem 0;
}

p {
    font-size: 1.3rem;
}

header, footer {
    align-items: center;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1% 5%;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

header {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#header__logo {
    font-size: 3rem;
}

label.header__hamburger,
input#menu-toggle {
    display: none;
}

#header__hamburger span {
    transition: all 0.5s;
}

#header__hamburger {
    display: none;
    padding: 1rem 0.1rem;
    position: absolute;
    right: 3%;
    top: 0;
    z-index: 10;
}

#header__hamburger span {
    background-color: white;
    border-radius: 1rem;
    display: block;
    height: 0.3rem;
    margin-bottom: 0.5rem;
    width: 2.3rem;
}

#header__hamburger span:last-child {
    margin-bottom: 0;
}

header nav li {
    font-size: 2rem;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav li {
    list-style-type: none;
    padding-left: 2rem;
    white-space: nowrap;
}

nav a, 
header a:-webkit-any-link, 
footer a:-webkit-any-link { /* The links in the header and footer */
    color: white;
    text-decoration-line: none;
}

nav a:hover, 
header a:-webkit-any-link:hover, 
footer a:-webkit-any-link:hover {
    text-decoration: underline;
}

footer {
    font-size: 1.2rem;
}

/* Media Queries */

@media (max-width: 1024px) {
    #header__logo {
        font-size: 2.2rem;
    }

    #header__menu li {
        font-size: 1.5rem;
    }

    footer address {
        font-size: 1rem;
    }
}

@media (max-width: 769px) {
    h1 {
        font-size: 2rem;
    }

    header, 
    footer {
        text-align: center;
    }
    
    header {
        position: relative;
    }

    #header__logo {
        flex: 7;
        font-size: 2.5rem;
        z-index: 5;
    }
    
    input#menu-toggle:checked ~ #header__hamburger span:nth-child(1) {
        transform: translateY(0.8rem) rotateZ(45deg);
    }
    
    input#menu-toggle:checked ~ #header__hamburger span:nth-child(2) {
        opacity: 0;
    }
    
    input#menu-toggle:checked ~ #header__hamburger span:last-child {
        transform: translateY(-0.8rem) rotateZ(-45deg);
    }

    input#menu-toggle:checked ~ nav#header__menu {
        transform: translateY(2.5rem);
    }

    #header__hamburger {
        display: block;
    }

    
    header nav#header__menu {
        background-color: black;
        flex: 100%;
        left: 0;
        position: absolute;
        top: 0;
        transform: translateY(-100%);
        transition: transform 0.5s;
        width: 100%;
    }

    header nav ul {
        margin-top: 1.5rem;
    }

    nav ul li, 
    footer address {
        margin-bottom: 1.5rem;
    }

    nav ul {
        display: block;
    }

    nav ul li {
        padding: 0;

    }

    footer {
        display: block;
        font-size: 1.5rem;
    }
    
    footer address {
        font-size: 1.2rem;
    }
}

@media (max-width: 425px) {
    #header__logo {
        font-size: 3.3rem;
    }

    #header__hamburger {
        padding: 1rem;
        top: 2.9rem;
    }

    input#menu-toggle:checked ~ nav#header__menu {
        transform: translateY(75%);
    }
}